<?php
$fields = [
    'state',
    'mandate-source',
    'payer-number',
    'account',
    'id',
    'name',
    'address',
    'email',
    'phone',
    'amount',
    'comment',
];
$donorId = isset($donor['mandate-key'])? $donor['mandate-key'] : $donor['payer-number'];

include('head.phtml')
?>
    <body>
    <main>
        <?php include('nav.phtml')?>
<?php if ($donor['name'] !== "Donor not found"): ?>
        <div id="addDonorForm" class="formDiv">
        <form action="<?=$router->pathFor('donordel', ['id' => $donorId])?>" method="post" enctype="multipart/form-data">
            <h1><?=$donor['name']?></h1>
            <fieldset>
                <input type="hidden" name="<?= $nameKey ?>" value="<?= $name ?>">
                <input type="hidden" name="<?= $valueKey ?>" value="<?= $value ?>">
                <input type="hidden" name="installation" value="<?= $donor['installation']['name']?>">
                <input type="hidden" name="donorId" value="<?= $donorId?>">
                <div class="donor">
                    <table>
                    <?php
                        for ($i=0; $i<sizeof($fields); $i++) {
                            if (gettype($donor[$fields[$i]]) ==  gettype([]))
                              $donor[$fields[$i]] = implode('<br/>', $donor[$fields[$i]]);
                            print("<tr><th scope=\"row\">" . $fields[$i] . "</th><td>" . $donor[$fields[$i]] . "</td></tr>");
                        }
                        ?>
                    </table>
                </div>
                <input type="hidden" name="installation" value="<?=$donor['installation']['name']?>">
                <input type="hidden" name="donorId" value="<?=$donorId?>">
                <div id="donorInfoButt" class="columnwrapper">
                    <div class="column-head">
                        <h3>How do you wish to remove this
                        record?</h3>
                        <p>There are two ways to remove this record:</p>
                    </div>
                    <div class="column">
                        <strong>revoke</strong><br/>
                        Mark this donor for revokation. This will create a file
                        for you to send to autogiro. Once they respond with a
                        revokation confirmation file, the donor will be
                        removed here.<br/>
                        Once the bank has revoked the donor's mandate, they
                        will have to sign a new mandate for us to be able to
                        receive autogiro payments from them again.<br/>
                        <div class="checkboxwrapper">
                            <div class="checkbox">
                                <input type="checkbox" name="revoke" value="revoke">
                            </div><div class="checkbox-label">
                                Really tell the bank to remove this person as a donor
                            </div>
                        </div>
                        <input type="submit" value="Revoke donor" name="revokeDonor">
                    </div><div class="column">
                        <strong>remove</strong><br/>
                        Forcibly delete this donor from our records. No
                        communication will be sent to autogiro.<br/>
                        <strong>Only</strong> do this if the donor has allready
                        been revoked in the bank's records.<br/>
                        <div class="checkboxwrapper">
                            <div class="checkbox">
                                <input type="checkbox" name="remove" value="remove">
                            </div><div class="checkbox-label">
                                Really remove this donor from our database.
                            </div>
                        </div>
                        <div class="checkboxwrapper">
                            <div class="checkbox">
                                <input type="checkbox" name="force" value="force">
                            </div><div class="checkbox-label">
                                Forcibly remove donor, even though it is not
                                registered as inactive. The donor has allready
                                been removed from the bank's records.
                            </div>
                        </div>
                        <input type="submit" value="Remove donor" name="removeDonor">
                    </div>
                </div>
            </fieldset>
        </form>
<?php endif ?>
    </main>
<?php include('footer.phtml');?>
    </body>
</html>
