<?php include('head.phtml')?>
    <body>
        <main class="donortableverbose">
            <?php include('nav.phtml')?>
            <h1>Autogiro donors</h1>
        </main>
            <?php foreach ($donorlists as $installation => $donors): ?>
                <article class="donortableverbose">
                <table>
                    <caption><?=$installation?></caption>
                    <tr>
                        <?php foreach ($columns as $column): ?>
                        <th><?=$column?></th>
                        <?php endforeach ?>
                    </tr>
                    <?php foreach ($donors as $donor): ?>
                    <tr>
                        <?php foreach ($columns as $column): ?>
                        <td><?php if ($column == 'mandate key') : ?>
                        <a href ="<?=$router->pathFor('donordetail', ['id' => $donor[$column]])?>">
                        <?php endif ?>
                        <?=array_key_exists($column, $donor) ? $donor[$column] : ''?>
                        <?php if ($column == 'mandate key') : ?></a><?php endif; ?></td>
                        <?php endforeach ?>
                    </tr>
                    <?php endforeach ?>
                </table>
            </article>
            <?php endforeach ?>
    <?php include('footer.phtml');?>
    </body>
</html>
