<?php

$fields = array_keys($donor);

include('head.phtml')
?>
    <body>
    <main>
        <?php include('nav.phtml')?>
<?php if ($donor['name'] !== "Donor not found"): ?>
        <h1><?=$donor['name']?></h1>
    <div class="donor">
        <table>
        <?php
            for ($i=0; $i<sizeof($fields); $i++) {
                if (gettype($donor[$fields[$i]]) ==  gettype([]))
                  $donor[$fields[$i]] = implode('<br/>', $donor[$fields[$i]]);
                print("<tr><th scope=\"row\">" . $fields[$i] . "</th><td>" . $donor[$fields[$i]] . "</td></tr>");
            }
            ?>
        </table>
    </div>
    <div class="right button">
    <a href="<?=$router->pathFor('donoredit', ['id' => $mkey])?>">Edit donor</a><br/>
    <a href="<?=$router->pathFor('donordel', ['id' => $mkey])?>">Remove donor</a><br/>
    <?php if (strstr($donor['state'], 'PAUSED')):  ?>
        <a href="<?=$router->pathFor('donorpause', ['id' => $mkey])?>">Unpause payments</a>
    <?php else: ?>
        <a href="<?=$router->pathFor('donorpause', ['id' => $mkey])?>">Pause payments</a>
    <?php endif ?>
    </div>
<?php endif ?>

    </main>
<?php include('footer.phtml');?>
    </body>
</html>
