<?php include('head.phtml')?>
    <body>
    <main>
        <?php include('nav.phtml')?>
        <h1>Autogiro donors</h1>
        <div class="donorlist">
        <?php foreach ($tables as $table): ?>
            <?php $installation = $table['name']; ?>
            <?php $donors = json_decode(implode(' ', $table['donors']), $assoc=TRUE); ?>
            <h2><?=$installation?> (bg <?=$giroapps[$installation]['account']?>)</h2>
<table>
  <tr>
    <?php foreach ($table['fields'] as $field): ?>
    <th><?=$field?></th>
    <?php endforeach; ?>
  </tr>
  <?php foreach ($donors as $donor): ?>
  <tr>
    <?php foreach ($table['fields'] as $field): ?>
    <td>
      <a href="donor/<?=$donor['mandate-key'] ?>"><?=$donor[$field]?>
    </td>
    <?php endforeach; ?>
  </tr>
  <?php endforeach; ?>
</table>

    <div class="right">
        <ul>
        <details>
          <summary><li>Total posts: <?=sizeof($donors)?></li></summary>
          <?php foreach ($table['status'] as $statusline): ?>
            <li><?=$statusline?></li>
          <?php endforeach; ?>
        </details>
        </ul>
    </div>
    <?php endforeach; ?>
    </main>
    <?php include('footer.phtml');?>
    </body>
</html>
