<?php include('head.phtml')?>

    <body>
    <main>
        <?php include('nav.phtml')?>
        <div id="addDonorForm" class="formDiv">
        <form action="<?=$router->pathFor('donoredit', ['id' => $mkey])?>" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend>Edit autogiro donor:</legend>
                    <input type="hidden" name="<?= $nameKey ?>" value="<?= $name ?>">
                    <input type="hidden" name="<?= $valueKey ?>" value="<?= $value ?>">
                    <input type="hidden" name="mandate-key" value="<?=$mkey?>">
                    <div id="donorInfoRequired">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" required="true" value="<?=$donor['name']?>"/>
                        <label for="payer-number">Payer number (currently not editable)</label>
                        <input type="text" name="payer-number" id="payer-number" value="<?=$donor['payer-number']?>" readonly/>
                        <label for="donorId">Personal ID number</label>
                        <input type="text" name="id" id="id" value="<?=$donor['id']?>" readonly/>
                        <label for="account">Account number incl clearing
                            number</label>
                        <input type="text" name="account" id="account"
                        required="true" value="<?=$donor['account']?>" readonly/>
                        <span class="comment">Note: Id and account number is not editable. To change these, a new mandate must be submitted.</span>
                    </div>
                    <div id="donorInfoOptional">
                        <details>
                            <summary>Address: <?=implode(', ',$donor['address'])?></summary>
                            <div id="donorInfoAddress">
                                <label for="address1">Address line 1</label>
                                <input type="text" name="address1" id="address1" value="<?=$donor['address']['line1']?>"/>
                                <label for="address2">Address line 2</label>
                                <input type="text" name="address2" id="address2" value="<?=$donor['address']['line2']?>"/>
                                <label for="address3">Address line 3</label>
                                <input type="text" name="address3" id="address3" value="<?=$donor['address']['line3']?>"/>
                                <label for="postal-code">Postal code</label>
                                <input type="text" name="postal-code" id="postal-code" value="<?=$donor['address']['postal-code']?>"/>
                                <label for="postal-city">City</label>
                                <input type="text" name="postal-city" id="postal-city" value="<?=$donor['address']['postal-city']?>"/>
                            </div>
                        </details>
                        <div id="donorInfoContact">
                            <label for="email">email address</label>
                            <input type="text" name="email" id="email" value="<?=$donor['email']?>"/>
                            <label for="phone">Phone number</label>
                            <input type="text" name="phone" id="phone" value="<?=$donor['phone']?>"/>
                        </div>
                        <label for="amount">Donation amount</label>
                        <input type="text" name="amount" id="amount" value="<?=$donor['amount']?>"/>
                        <label for="comment">Comment</label>
                        <input type="text" name="comment" id="comment" value="<?=$donor['comment']?>"/>
                    </div>
                    <div id="donorInfoTechnical">
                        <label for="mandateSource">Mandate source: </label>
                        <select name="mandateSource" id="mandateSource">
                        <option value="MANDATE_SOURCE_PAPER"<?=$donor['mandate-source'] == MANDATE_SOURCE_PAPER?' selected="selected"':''?>>Paper</option>
                            <option value="MANDATE_SOURCE_DIGITAL"<?=$donor['mandate-source'] == MANDATE_SOURCE_DIGITAL?' selected="selected"':''?>>Webpage</option>
                            <option value="MANDATE_SOURCE_ONLINE_FORM"<?=$donor['mandate-source'] == MANDATE_SOURCE_ONLINE_FORM?' selected="selected"':''?>>Online form</option>
                        </select>
                        <input type="hidden" name="installation" value="<?=$donor['installation']['name']?>">
                        <input type="hidden" name="state" value="<?=$donor['state']?>">
                    </div>
                    <div id="donorInfoButt">
                        <input type="submit" value="Update donor" name="updateDonor">
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
    <?php include('footer.phtml'); ?>
    </body>
</html>
