<?php include('head.phtml')?>
    <body>
    <main>
    <?php 
    $not_new = explode('|',$_SESSION['not_new']);
    ?>
        <?php include('nav.phtml')?>
        <h1>Exported files</h1>
        <div class="exportlist">
            <ul>
            <?php foreach ($files as $file): ?>
                <li<?php
                    if (!in_array($file, $not_new)) {
                        print(' class="newfile"'); 
                    }
                    ?>>
                    <a href="<?=$router->pathFor('export_download', array('filename' => $file))?>">
                    <?=$file?>
                    <?php
                        if (!in_array($file, $not_new)) {
                            print('<span class="pointy"><---- new file</span>'); 
                        }
                    ?>
                    </a>
                </li>
            <?php endforeach; ?>
            </ul>
        </div>
    </main>
    <?php include('footer.phtml');?>
    </body>
</html>
