<footer>
    <?php #if ($flashes !== null && sizeof($flashes) > 0) : ?>
        <section class="errors">
            <?php foreach ($flashes as $mess => $flash) : ?>
            <section class="error">
                <ul><li>
                <h3><?=$mess?></h3>
                </li><li>
                <p><?=implode("</li><li>", $flash)?></p>
                </li></ul>
            </section>
            <?php endforeach ?>
        </section>
    <?php #endif ?>
</footer>
