<header>
    <ul>
        <li><a href="<?=$router->pathFor('start')?>">start</a></li>
        <li><a href="<?=$router->pathFor('exports')?>">files</a></li>
        <li><a href="<?=$router->pathFor('donorlist')?>">donors</a></li>
        <li><a href="<?=$router->pathFor('newpaper')?>">register new paper mandate</a></li>
    </ul>
</header>
