<?php include('head.phtml')?>
    <body>
    <main>
        <?php include('nav.phtml')?>
        <div id="addDonorForm" class="formDiv">
        <form action="<?=$router->pathFor('newpaper')?>" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend>Add an autogiro donor:</legend>
                    <input type="hidden" name="<?= $nameKey ?>" value="<?= $name ?>">
                    <input type="hidden" name="<?= $valueKey ?>" value="<?= $value ?>">
                    <div id="donorInfoRequired">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" required="true"/>
                        <label for="payer-number">Member number</label>
                        <input type="text" name="payer-number" id="payer-number"/>
                        <label for="donorId">Personal ID number</label>
                        <input type="text" name="id" id="id" required="true"/>
                        <label for="account">Account number incl clearing
                            number</label>
                        <input type="text" name="account" id="account"
                        required="true"/>
                    </div>
                    <div id="donorInfoOptional">
                        <details>
                            <summary>Address</summary>
                            <div id="donorInfoAddress">
                                <label for="address1">Address line 1</label>
                                <input type="text" name="address1" id="address1"/>
                                <label for="address2">Address line 2</label>
                                <input type="text" name="address2" id="address2"/>
                                <label for="address3">Address line 3</label>
                                <input type="text" name="address3" id="address3"/>
                                <label for="postal-code">Postal code</label>
                                <input type="text" name="postal-code" id="postal-code"/>
                                <label for="postal-city">City</label>
                                <input type="text" name="postal-city" id="postal-city"/>
                            </div>
                        </details>
                        <div id="donorInfoContact">
                            <label for="email">email address</label>
                            <input type="text" name="email" id="email"/>
                            <label for="phone">Phone number</label>
                            <input type="text" name="phone" id="phone"/>
                        </div>
                        <label for="amount">Donation amount</label>
                        <input type="text" name="amount" id="amount"/>
                        <label for="comment">Comment</label>
                        <input type="text" name="comment" id="comment"/>
                    </div>
                    <div id="donorInfoTechnical">
                        <label for="mandate-source">Mandate source: </label>
                        <select name="mandate-source" id="mandate-source">
                            <option selected="selected" value="MANDATE_SOURCE_PAPER">Paper</option>
                            <option value="MANDATE_SOURCE_WEB">Webpage</option>
                        </select>
                        <label for="installation">Bankgiro: </label>
                        <select name="installation" id="installation">
                            <?php foreach ($installations as $installation): ?>
                            <option value="<?=$installation['name']?>"><?=$installation['name']?></option>
                            <?php endforeach ?>
                        </select>
                    </div>
                    <div id="donorInfoButt">
                        <input type="submit" value="Submit donor" name="submitDonor">
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
<?php include('footer.phtml'); ?>
    </body>
</html>
