<?php
$fields = [
    'state',
    'mandate-source',
    'payer-number',
    'account',
    'id',
    'name',
    'address',
    'email',
    'phone',
    'amount',
    'comment',
];
$donorId = isset($donor['mandate-key'])? $donor['mandate-key'] : $donor['payer-number'];

include('head.phtml')
?>
    <body>
    <main>
        <?php include('nav.phtml')?>
<?php if ($donor['name'] !== "Donor not found"): ?>
        <div id="addDonorForm" class="formDiv">
        <form action="<?=$router->pathFor('donorpause', ['id' => $donorId])?>" method="post" enctype="multipart/form-data">
            <h1><?=$donor['name']?></h1>
            <fieldset>
                <input type="hidden" name="<?= $nameKey ?>" value="<?= $name ?>">
                <input type="hidden" name="<?= $valueKey ?>" value="<?= $value ?>">
                <div class="donor">
                    <table>
                    <?php
                        for ($i=0; $i<sizeof($fields); $i++) {
                            if (gettype($donor[$fields[$i]]) ==  gettype([]))
                              $donor[$fields[$i]] = implode('<br/>', $donor[$fields[$i]]);
                            print("<tr><th scope=\"row\">" . $fields[$i] . "</th><td>" . $donor[$fields[$i]] . "</td></tr>");
                        }
                        ?>
                    </table>
                </div>
                <input type="hidden" name="installation" value="<?=$donor['installation']['name']?>">
                <input type="hidden" name="donorId" value="<?=$donorId?>">
                <div id="donorInfoButt">
                    <p><strong>are you quite sure?</strong></p>
                    <?php if ($donor['state'] == 'PAUSED'):  ?>
                    <input type="submit" value="Unpause donor" name="unpauseDonor">
                    <?php else: ?>
                    <input type="submit" value="Pause donor" name="pauseDonor">
                    <?php endif ?>
                </div>
            </fieldset>
        </form>
<?php endif ?>
    </main>
<?php include('footer.phtml');?>
    </body>
</html>
