<?php include('head.phtml')?>
    <body>
    <main>
        <?php include('nav.phtml')?>
            <div id="uploadForm" class="formDiv">
                <form action="<?=$router->pathFor('uploadfiles')?>" method="post" enctype="multipart/form-data">
                    <fieldset>
                    <input type="hidden" name="<?= $nameKey ?>" value="<?= $name ?>">
                    <input type="hidden" name="<?= $valueKey ?>" value="<?= $value ?>">
                        <legend>Import files into byrokrat:</legend>
                        <div id="file_upload_div">
                            <label>Add files (multiple): </label><br/>
                            <input type="file" name="uploads[]" multiple="multiple">
                            <input type="submit" value="Upload File" name="submit">
                        </div>
                    </fieldset>
                </form>
            </div>

            <div id="exportForm" class="formDiv">
                <form action="<?=$router->pathFor('export')?>" method="post" enctype="multipart/form-data">
                    <fieldset>
                    <input type="hidden" name="<?= $nameKey ?>" value="<?= $name ?>">
                    <input type="hidden" name="<?= $valueKey ?>" value="<?= $value ?>">
                        <legend>Download files from byrokrat:</legend>
                        <div id="file_upload_div">
                            <label for="installation">Bankgiro: </label>
                            <select name="installation" id="installation">
                            <?php foreach ($installations as $installation): ?>
                                <option value="<?=$installation['name']?>"
                                  <?=in_array($installation['name'], $exportables) ? '':' disabled="disabled"' ?>
                                  >
                                  <?=$installation['name']?>
                                  <?=in_array($installation['name'], $exportables) ? ' *':'' ?>
                                </option>
                            <?php endforeach ?>
                            </select>
                            <input type="submit" value="Create File" name="submit">
                        </div>
                    </fieldset>
                </form>
        </main>
<?php include('footer.phtml');?>
    </body>
</html>
