/*
CSS kontrapunkt autogiro page
*/
body {
    font-size: 90%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    padding: 2em 0;
    width: 90%;
}

main {
    width: 35em;
    margin-right: auto;
    margin-left: auto;
}
h1 {
    font-variant: small-caps;
    text-align: center;
    font-size: 2em;
}

h2 {
    font-size: 1.1em;
    margin-top: 0.5em;
}

a:link {
    color: black;
}
a:visited {
    color: gray;
}

input[type=text], input[type=number] {
    width: 95%;
    height: 2em;
    padding: 0.3em;
}

input[type=file] {
    width: 95%;
    height: 2em;
    margin: 1em auto;
}

input[type=submit] {
    width: 9em;
    height: 2em;
    margin: 1em auto;
}

/*
* Not actually working
*/
input[type=number]::-moz-inner-spin-button,
input[type=number]::-moz-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

form div {
    border-top: 0.1em gray solid;
    padding: 0.5em;
}

.linkDiv {
    border: 0.1em gray solid;
    font-size: 1.5em;
    margin: 2em 0.5em;
    padding: 0.5em;
}

header {
    overflow: auto;
    border-radius: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}
header a {
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: none;
}
header a:link, header a:visited {
    color: black;
}
header a:active {
    color: gray;
}
header a:hover {
    background-color: #CCCCCC;
}
header ul {
    list-style-type: none;
    display: block;
    margin: 0;
}
header li {
    margin: 0.5em 1em;
    float: left;
}

.donor table {
    border-collapse: collapse;
}

.donor tr {
    border-bottom: 0.1em solid gray;
    border-top: 0.1em solid gray;
}

.errors {
    position: absolute;
    left: 70%;
    top: 5%;
    width: 15%;
}
.error ul {
    list-style-type: none;
    width: 20em;
    margin: 2em auto;
    padding: 0;
}

.error li {
    border: solid 0.2em red;
    margin: 0;
    padding: 2em;
}

.newfile {
    background-color: #AAFFAA;
    background-color: rgba(128,255,0,0.3);
}
.pointy {
    padding-left: 2em;
    font-size: 0.7em;
}

.donortableverbose {
    width: 40em;
}
.donortableverbose table {
    border-collapse: collapse;
}

.donortableverbose td {
    border: 0.1em solid gray;
    padding: 0 0.5em;
}

.columnwrapper {
    width: 90%;
    float: left;
    overflow: auto;
}
.columnwrapper::after {
    content: "";
    clear: both;
    display: table;
}
.column-head {
    width: 100%
}
.column {
    width: 40%;
    float: left;
    overflow: auto;
}
.checkboxwrapper {
    width: 90%;
    float: left;
    overflow: auto;
}
.checkboxwrapper::after {
    content: "";
    clear: both;
    display: table;
}
.checkboxlabel {
    width: 80%;
    float: left;
    overflow: auto;
}
.checkbox {
    width: 10%;
    height: 100%;
    float: left;
    overflow: auto;
}
.right {
    text-align: right;
}
